/******************************************************************
                            Night mode CSS
******************************************************************/

body {
    background-color: #000d1a;
    color: white;
}

button {
    background-color: #696969;
    border: none;
    color: white;
    padding: 8px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 12px;
}

button:hover {
    background-color: #DCDCDC;
}

ul {
    background-color: #696969;
    color: white;
}

li a {
    color: white;
}

/* Change the link color on hover */
li a:hover {
      background-color: #DCDCDC;
      color: white;
}

footer {
   background-color: #696969;
}

a {
   color: #008B8B;
}

/* day mode button styling */
.dmode {
   background-color: white;
   color: black;
}

/* donate button styling */
.donatebutton {
   background-color: #edf1f7;
   color: black;
}