.padding {
  padding-left: 10px;
}

button {
    background-color: #cccccc;
    border: none;
    color: black;
    padding: 8px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 12px;
}

.center {
  text-align: center;
}
