.padding {
  padding-left: 10px;
}

button {
    background-color: #01b213;
    border: none;
    color: white;
    padding: 8px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 12px;
}

button:hover {
    background-color: #01700c;
}

.center {
    margin-left: auto;
    margin-right: auto;
  width: 400px;
}

.padding-plus {
  padding-left: 30px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
}

ul li {
    display: inline-block;
}

li a {
     display: block;
     color: #000;
     padding: 6px 14px;
     text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
      background-color: #555;
      color: white;
}

.header {
    height:50px;
}

.content {
    position:absolute;
    top: 50px;
    left:0px;
    right:0px;
    bottom:0px;
    overflow-y:scroll;
}

.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
}

footer {
    background-color: #DCDCDC;
}

/* Night mode button styling */
.nmode {
    background-color: black;
    color: white;
}

input#lightswitch {
   position: absolute;
   top: -9999px;
   left: -9999px;
}

input#lightswitch:checked + .main {
  background: #000d1a;
  color: white;
}

input#lightswitch:checked + button {
    background-color: #696969;
    border: none;
    color: white;
    padding: 8px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 12px;
}

input#lightswitch:checked + button:hover {
    background-color: #DCDCDC;
}

input#lightswitch:checked + ul {
    background-color: #696969;
    color: white;
}

input#lightswitch:checked + li a {
    color: white;
}

/* Change the link color on hover */
input#lightswitch:checked + li a:hover {
      background-color: #DCDCDC;
      color: white;
}

input#lightswitch:checked + footer {
   background-color: #696969;
}

input#lightswitch:checked + a {
   color: #008B8B;
}
